.aside {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3);
}
.aside_main {
    color: rgba(5,3,6);
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 300px;
    height: 100%;
    background: linear-gradient(90deg,rgb(55, 31, 94),rgb(31, 4, 44));
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside_main ul {
    padding-inline-start: 0em;
    list-style-type: none;
}
.aside_main li {
    margin: 30%;
}
.aside_main a {
    text-decoration: none;
    color: #fafafa;
}
