.clients > .title {
    display: flex;
    flex-direction: column;
    padding-left: 11%;
    width: 60%;
    margin-bottom: 8%;
}
.clients > .title :first-child {
    font-style: normal;
    font-weight: bolder;
    font-size: 0.7em;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
}
.clients > .title :last-child {
    font-style: normal;
    font-weight: bold;
    font-size: 2.6em;
    line-height: 67px;
    color: #30233D;
}
.clients > :last-child {
    display: flex;
}
.clients > :last-child > * {
    width: 50%;
}
.clients .description {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 11%;
    padding-right: 7%;
    background: #150433;
}
.clients .description > :first-child {
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 53px;
    letter-spacing: 0.01em;
    color: #F61067;
}
.clients .description > * {
    margin-bottom: 5%;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 29px;
    color: #FCFCFC;
}
.clients .description > :last-child {
    margin-bottom: 0%;
}
.clients .clientsList {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8%;
    padding-top: 3%;
    padding-bottom: 0%;
}
.clients .clientsList > :first-child {
    margin-bottom: 20%;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #30233D;
}
.clients .clientsList > :last-child {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.clients .clientsList > :last-child > * {
    margin: 5%;
    margin-bottom: 15%;
}
@media (max-width: 720px) {
    .clients > .title {
        box-sizing: border-box;
        width: 89%;
    }
    .clients > .title :last-child {
        font-size: 1.8em;
    }
    .clients > :last-child {
        flex-direction: column;
    }
    .clients > :last-child > * {
        width: 100%;
    }
    .clients .clientsList {
        justify-content: space-between;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .clients .clientsList > :first-child {
        margin-bottom: 10%;
    }
}
