.intro {
    padding-left: 11%;
    padding-right: 10%;
    padding-top: 12%;
    display: flex;
    flex-direction: column;
}
.intro > .header1 {
    font-style: normal;
    font-weight: 800;
    font-size: 0.7em;
    line-height: 1.4em;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #F61067;
}
.intro > .header2 {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4em;
    line-height: 67px;
    letter-spacing: 0.05em;
    color: #30233D;
    padding-bottom: 4%;
}
.intro > .serviceGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.intro > .serviceGrid > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15%;
    margin-right: 10%;
}
.intro > .serviceGrid img {
    width: fit-content;
}
.intro > .serviceGrid img + span {
    margin-bottom: 5%;
    margin-top: 7%;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 27px;
    color: #30233D;
}
.intro > .serviceGrid img + span + span {
    font-style: normal;
    font-weight: normal;
    font-size: 0.95em;
    line-height: 26px;
    color: #776C82;
}
.intro > .quote {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.intro .photo1 {
    width: 50vw;
    max-width: 300px;
    position: absolute;
    left: 64%;
    bottom: 0em;
}
.intro .photo1 + div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    min-height: 200px;
    padding-left: 7%;
    padding-right: 13%;
    color: #FCFCFC;
    background-color: #5E239D;
    font-family: Noticia Text;
    font-style: italic;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 40px;
}
.intro .name {
    margin-left: 7%;
    margin-top: 5%;
    font-size: 1em;
    line-height: 29px;
}
.intro .name :first-child {
    font-weight: 1000;
    color: #F61067;
}
.intro .name :last-child {
    color: #333;
}
@media (max-width: 600px) {
    .intro .name {
        display: flex;
        flex-direction: column;
    }
    .intro > .serviceGrid {
        grid-template-columns: 1fr 1fr;
    }
    .intro .photo1 + div {
        font-size: 1.4em;
    }
}
@media (max-width:1000px) and (min-width:600px) {
    .intro .photo1 {
        width: 50vw;
        max-width: 260px;
        position: absolute;
        left: 64%;
        bottom: 0em;
    }
}
