.subscribe {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    text-align: center;
    align-items: center;
    margin-bottom: 8%;
}
.subscribe > :first-child {
    font-style: normal;
    font-weight: bold;
    font-size: 2.4em;
    letter-spacing: 0.02em;
    line-height: 67px;
    color: #30233D;
}
.subscribe > span + span {
    margin-top: 1%;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 27px;
    color: #776C82;
}
.subscribe > form {
    display: flex;
    border-bottom: 3px solid #F4F4ED;
    margin-top: 3%;
    width: 100%;
    max-width: 475px;
}
.subscribe > form > input {
    border: hidden;
    width: 75%;
    font-style: normal;
    font-weight: 800;
    font-size: 1em;
    line-height: 37px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #9B94A3;
}
.subscribe > form > input:not(:placeholder-shown) {
    letter-spacing: 1px;
    text-transform: none;
}
.subscribe > form > button {
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #F61067;
    border: hidden;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(242, 242, 242, 0.5) 100%);
}
.subscribe > form > button > span {
    border-right: 20px solid rgb(0,0,0,0);
}
.subscribe > form > button > div {
    height: 27px;
    width: 27px;
    background-repeat: round;
    background-image: url("../images/ArrowNormal.png");
}
.subscribe > form > button:hover > div {
    background-image: url("../images/ArrowHover.png");
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
@media (max-width: 760px) {
    .subscribe > form {
        max-width: 400px;
        font-size: 0.8em;
    }
}
@media (max-width: 600px) {
    .subscribe > form {
        max-width: 300px;
        font-size: 0.7em;
    }
}
