.people > .carousel .arrow {
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 18px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  background: inherit;
  display: inline-block;
  vertical-align: middle;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}
.people > .carousel .arrow:focus {
  outline: none;
}
.people > .carousel .arrow:hover {
  background: #ccc;
  cursor: pointer;
}
.people > .carousel ul {
  height: max-content;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  left: 0px;
  transition: left 0.5s;
}
.people > .carousel ul li {
  text-align: center;
  display: inline-block;
  width: 50vw;
}
.people > .carousel ul li > span {
  font-style: italic;
  font-weight: normal;
  font-size: 32px;
  line-height: 64px;
  text-align: center;
  color: #30233D;
}
.people > .carousel ul li > div {
  margin-top: 5%;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
}
.people > .carousel ul li > div :first-child {
  color: #F61067;
}
.people > .carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  box-sizing: border-box;
  padding: 5px;
}
.people > .carousel .in-frame {
  width: 50vw;
  height: max-content;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;  
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  pointer-events: none;
}
