.people .carousel .arrow {
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 18px;
  border:hidden;
  font-size: 24px;
  line-height: 24px;
  background: inherit;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../images/ArrowNormal.png");
}
.people .carousel .arrow:focus {
  outline: none;
}
.people .carousel .arrow:hover {
  background-image: url("../images/ArrowHover.png");
  transform: matrix(-1, 0, 0, 1, 0, 0);
  cursor: pointer;
}
.people .carousel .arrow.left {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.people .carousel .arrow.left:hover {
  transform: none;
}
.people .carousel ul {
  height: max-content;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  left: 0px;
  transition: left 0.5s;
}
.people .carousel ul li {
  text-align: center;
  display: inline-block;
  width: 50vw;
  padding: 5px;
  box-sizing: border-box;
}
.people .carousel ul li > span {
  font-style: italic;
  font-weight: normal;
  font-size: 1.9em;
  line-height: 64px;
  text-align: center;
  color: #30233D;
}
.people .carousel ul li > div {
  margin-top: 5%;
  font-style: normal;
  font-size: 1em;
  line-height: 29px;
}
.people .carousel ul li > div :first-child {
  font-weight: bold;
  color: #F61067;
}
.people .carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  box-sizing: border-box;
  padding: 5px;
}
.people .carousel .in-frame {
  width: 50vw;
  height: max-content;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
@media (max-width: 760px) {
  .people .carousel ul li {
    font-size: 0.9em;
  }
}
@media (max-width: 600px) {
  .people .carousel ul li {
    font-size: 0.7em;
  }
}
