.logo {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 2px;
}
header {
    padding-top: 4%;
    padding-bottom: 9%;
    background-image: url('../images/headerBG.png');
    background-size: cover;
    color: #FCFCFC;
}
header .headerUp {
    margin-left: 10%;
    margin-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a {
    text-decoration: none;
    padding-bottom: 5px;
    margin: 30px;
    cursor: default;
}
header nav a:hover {
    background-size: 100% 2px;
}
header .phoneInfo {
    font-style: normal;
    font-weight: 800;
    font-size: 0.9em;
    letter-spacing: 2px;
    display: flex;
}
header .phoneInfo > img {
    margin-right: 5px;
}
header .mediumPart {
    display: flex;
    justify-content: space-between;
    padding: 10%;
    padding-right: 8%;
    padding-bottom: 2%;
}
header .headLine {
    display: flex;
    flex-direction: column;
}
header .headLine > span {
    font-style: normal;
    font-weight: 1000;
    font-size: 5.5em;
    line-height: 118px;
    text-transform: none;
    letter-spacing: 6px;
}
header .headLine > .headLine1 {
    margin-bottom: 5%;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
header .headLine > .redColor {
    color: #f64666;
}
header .scroll {
    display: flex;
    align-items: center;
    cursor: default;
    writing-mode: vertical-lr;
    font-family: Mplus;
    font-style: normal;
    font-weight: 800;
    font-size: 0.9em;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FCFCFC;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}
header .scroll > img {
    margin-top: 20px;
    width: 15px;
}
header .headerBottom {
    display: flex;
    align-items: center;
    padding: 2%;
    width: max-content;
    padding-left: 10%;
    padding-right: 6%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    white-space: nowrap;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
}
header .headerBottom > img {
    margin-left: 7%;
    margin-right: 7%;
}
.header_iconMenu {
    height: 16px;
    width: 27px;
    cursor: pointer;
}
@media (max-width: 761px) {
    header .phoneInfo {
        display: none;
    }
}
